* {
  margin: 0;
  box-sizing: border-box;
  font-family: 'Baloo Chettan 2', cursive;
}

header {
  grid-column: 1 / span 2;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  height: 80px;
  background-color: #3face9;
}

.title {
  font-size: 30pt;
  font-weight: 500;
  text-align: center;
  color: #fff;
}

body {
  display: grid;
  gap: 15px;
  grid-template-columns: repeat(2, 50%);
}

.numbers {
  display: flex;
  height: 35px;
  justify-content: space-around;
}

.operations {
  display: grid;
  grid-row: 2;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.left_container {
  margin-top: 47px;
  display: grid;
  height: fit-content;
  background-color: #046aa3;
  padding: 30px;
  margin-left: 50px;
  width: 500px;
  height: 350px;
  border-radius: 10px;
}

.right_container {
  grid-column: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.result_container {
  display: flex;
  width: 350px;
  height: 350px;
  justify-content: center;
  align-items: center;
  background-color: yellow;
  border-radius: 10px;
}

.result {
  font-size: 40px;
  font-weight: 800;
}

.button-container {
  display: flex;
  width: 100%;
  justify-content: center;
}

input[type="button"] {
  width: 250px;
  height: 60px;
  font-size: 18px;
  font-weight: 600;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 0, 0.74);
}

input[type="button"]:hover{
  background-color: yellow;
}

input[type="number"] {
  text-align: center;
  width: 200px;
  font-size: 20px;
  font-weight: 800;
  border-radius: 10px;
  border: none;
}

input[type="radio"] {
  background-color: #ddd;
  border-radius: 15px;
  cursor: pointer;
  display: inline-block;
  height: 25px;
  margin-right: 15px;
  position: relative;
  width: 25px;
  -webkit-appearance: none;
}

input[type='radio']:checked{
  background-color: #035280;
  border:5px #ddd solid;
}

.radio-container {
  padding-left: 10px;
  font-size: 18px;
  color: white;
}
